* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

table th {
    background-color: #f2f2f2;
}

table td {
    background-color: #f2f2f2;
}

body {
    background-color: rgb(105, 103, 105);
    padding-top: 100px;
    padding: 30px;
}

input[type="submit"] {
    background-color: rgb(41, 43, 43);
    color: white;
    padding: 10px 20px;
    margin-left: 100px;
    border: none;
    cursor: pointer;
}

input[type="text"],
input[type="tel"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

h1 {
    color: #000000;
    font-family: Roboto, sans-serif;
}

form {
    margin-bottom: 30px;    
}

table {
    border-collapse: auto;
    width: 30%;
}

th, td {
    border: 1px solid black;
    padding: 9px;
    text-align: center;
    width: 30%;
}